.dropdown-menu-hover {
    display: none;
    transition: opacity 0.5s ease; /* Adjust the duration as needed */
    opacity: 0;
  }
  
  .hover-dropdown:hover .dropdown-menu-hover,
  .hover-dropdown2:hover .dropdown-menu-hover {
    display: block;
    opacity:1;
  }

  .hover-dropdown2:hover .dropdown-menu-hover2,
  .hover-dropdown2:hover .dropdown-menu-hover2 {
    display: block;
    position: absolute;
    top:-10px;
    left:160px;
    opacity:1;
  }
  .hover-dropdown3:hover .dropdown-menu-hover3,
  .hover-dropdown3:hover .dropdown-menu-hover3 {
    display: block;
    position: absolute;
    top:0px;
    left:-238px;
    opacity:1;
  }
  .nav_dropdowns_lvl_1 a{
            font-family:rubik,Sans-serif;
            font-size:12px;
            font-weight:500;
            line-height:40px;
            letter-spacing:0.5px;
            text-transform: uppercase;
            padding-left: 30px;
            padding-right: 20px;
            
  }
  .nav_dropdowns_lvl_1 a:hover {
            background:#3b5d50 ;
            color:#fff;
            font-weight:600;
  }
  
  .active {
  background:#3b5d50  !important;
    color:#fff;
    font-weight:600;
  }
  
 
  #contact-nav-btn{
    padding-left: 20px;
    padding-right: 20px;
  }
  #contact-nav-btn:hover{
    background-color: #efcf7c;
  }

  #quote-nav-btn{
    outline:2px solid #ffff;
    padding-left: 20px;
    padding-right: 20px;
  }

  #quote-nav-btn:hover{
    background-color: #ffff;
    color: black;
  }

  .company-nav-title{
    margin-left:30px;
    text-shadow: '2px 2px 4px rgba(0, 0, 0, 0.5)';
    padding-bottom:20px;
  }
  .navbar-link-title{
    font-family:rubik,Sans-serif;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom:5px solid transparent;
    margin-bottom:5px;
    transition: .15s all ease-out;
  }
  
  .navbar-link-title:hover{
    border-bottom-color:#f9bf29;
  }