/* Adjust the sidebar width as per your requirement */
.sidebar {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    /* width: 250px; Adjust width as needed */
    background-color: #f8f9fa;
    padding-top: 10px; /* Adjust according to your navbar height */
    margin-right:0px;
  }

  /* Style the links goes inside the sidebar */
  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    color:#3b5d50;
    text-transform: capitalize;
  }

  /* Change the color of links on hover */
  .sidebar a:hover {
    background-color: #e9ecef;
    color:#3b5d50;
    font-weight:600;
  }

  .languages_list li{
    margin-top:5px;
    margin-bottom: 5px;
    font-size: 13px;
  }

  .section{
    margin-bottom:50px;
  }